.nav{
    display: flex;
    width: 100vw;

}
.nav .list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

}
.nav .list li{
    margin-left: 40px;

}
.nav .list li a:hover{
    color: royalblue;
    text-decoration: underline;
    transition: 300ms ease-out;
}

.small a:hover{
    color: royalblue;
    text-decoration: underline;
    transition: 300ms ease-out;
}
